<!doctype html>

<html>
	<head>
		<!-- META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

		<title>Understanding memes</title>

		<!-- SCROLLS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"><!-- load bulma -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"> <!-- font awesome -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- jquery -->

		<style>
			html 					{ overflow-y:scroll; }
			body 					{ padding-top:50px; }
			#meme-list 				{ margin-bottom:30px; }
			#meme-form 	 			{ margin-bottom:50px; }
		</style>

		<script src="main.js"></script>
	</head>

	<!-- SET THE CONTROLLER -->
	<body ng-controller="mainController">
		<div class="container is-three-quarters">

			<!-- HEADER AND MEME COUNT -->
			<%- include('top-bar') -%>

			<!-- MEME LIST -->
			<%- include('gallery') -%>

			<!-- CREATION MODAL -->
			<div class="modal is-active" id="creation-modal">
				<div class="modal-background"></div>
					<div class="modal-content">
						<!-- CREATION FORM -->
						<%- include('upload-form') -%>
					</div>
				<button class="modal-close is-large" aria-label="close" onclick="toggle_modal()"></button>
			</div>
		</div>
	</body>
</html>