<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<h1 class="title">I understand <span class="icon has-text-info"><%= memes.length %></span> memes</h1>
	</div>

	 <div class="navbar-end">
		<div class="navbar-item">
			<a class="button is-large is-primary" onclick="toggle_modal()">
				<span class="icon">
					<i class="fas fa-plus-circle"></i>
				</span>
				<span>Add meme</span>
			</a>
		</div>
	</div>
</nav>