<div class="box">
	<article class="media columns">
		<form id="image-upload" class="column media-left field is-grouped is-grouped-multiline is-grouped-centered">
			<div class="control file is-boxed is-info">
				<label class="file-label">
					<input class="file-input" type="file" name="image">
					<span class="file-cta">
						<span class="file-icon">
							<span class="fas fa-cloud-upload-alt fa-2x"></span>
						</span>
						<span class="file-label">
							Choose a file…
						</span>
					</span>
				</label>
			</div>

			<br>

			<div class="control">
				<button class="button is-large is-info" onclick="partial_submit()">Upload</button>
			</div>

			<div class="control">
				<button class="button is-large is-primary" disabled="">Add</button>
			</div>
		</form>

		<div class="column media-content">
			<div class="content">

				<!-- actual form input -->
				<form action="/memes" method="POST">
					<div class="field is-grouped is-grouped-multiline ">
						<div class="control is-expanded">
							<input type="text" class="input is-info" placeholder="Origin (author, site, etc.)">
						</div>
						
						<div class="control is-expanded">
							<input type="date" id="date_input" class="input is-info">
						</div>

						<div class="control is-expanded">
							<input placeholder="Tags (text post, panel, analysis, loss, twitter, political)" class="input is-info">
						</div>

						<div class="control is-expanded">	
							<input type="text" class="input is-info" placeholder="Analysis and Commentary">
						</div>

					</div>
				</form>
			</div>
		</div>
	</article>
</div>